In [24]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine 
import missingno as msno
from zipfile import ZipFile

### Extract CSVs into DataFrames

In [16]:
article_file = "resources/articles.csv"
article_df = pd.read_csv(article_file)
article_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  object
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  object
 5   product_group_name            105542 non-null  object
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  object
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  object
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  object
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  object
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  object
 16  index_code                    105542 non-null  object
 17  index_name                    105542 non-null  object
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  object
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  object
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  object
 24  detail_desc                   105126 non-null  object
dtypes: int64(11), object(14)
memory usage: 20.1+ MB

In [30]:
#checking number of null columns
article_df.isna().sum()

article_id                        0
product_code                      0
prod_name                         0
product_type_no                   0
product_type_name                 0
product_group_name                0
graphical_appearance_no           0
graphical_appearance_name         0
colour_group_code                 0
colour_group_name                 0
perceived_colour_value_id         0
perceived_colour_value_name       0
perceived_colour_master_id        0
perceived_colour_master_name      0
department_no                     0
department_name                   0
index_code                        0
index_name                        0
index_group_no                    0
index_group_name                  0
section_no                        0
section_name                      0
garment_group_no                  0
garment_group_name                0
detail_desc                     416
dtype: int64

In [4]:
#checking duplicate row 
article_df.duplicated().sum()

0

In [21]:
article_df.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [22]:
customers_file = "resources/customers.csv"
customers_df = pd.read_csv(customers_file)
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371980 entries, 0 to 1371979
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1371980 non-null  object
 1   FN                      476930 non-null   float64
 2   Active                  464404 non-null   float64
 3   club_member_status      1365918 non-null  object
 4   fashion_news_frequency  1355971 non-null  object
 5   age                     1356119 non-null  float64
 6   postal_code             1371980 non-null  object
dtypes: float64(3), object(4)
memory usage: 73.3+ MB

In [25]:
#checking number of null columns
customers_df.isna().sum()

customer_id                    0
FN                        895050
Active                    907576
club_member_status          6062
fashion_news_frequency     16009
age                        15861
postal_code                    0
dtype: int64

In [26]:
#checking duplicate row 
customers_df.duplicated().sum()

0

In [28]:
transactions_file = "resources/transactions_train.csv"
transactions_df = pd.read_csv(transactions_file)
transactions_df.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

In [29]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.2+ GB

In [32]:
#changing the t_dat column to datetime format
transactions_df["t_dat"]=pd.to_datetime(transactions_df["t_dat"])
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31788324 entries, 0 to 31788323
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             datetime64[ns]
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.2+ GB

In [49]:
transactions_df.sort_values('t_dat')

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
32262,2018-09-20,a8c2e2e62e27ccde83cbe03e8281cef5e1df94ed79d493...,569933006,0.042356,2
32263,2018-09-20,a8c2e2e62e27ccde83cbe03e8281cef5e1df94ed79d493...,621846006,0.025407,2
32264,2018-09-20,a8c5ba583d218ffe2d822f19eccc65e1bc7b4ef14f7a05...,587189003,0.016949,1
32265,2018-09-20,a8c5ba583d218ffe2d822f19eccc65e1bc7b4ef14f7a05...,587189002,0.033898,1
...,...,...,...,...,...
31766405,2020-09-22,544094a3ab237bf18d7bda9c2265218de4320ce795775e...,865938002,0.025407,1
31766404,2020-09-22,544094a3ab237bf18d7bda9c2265218de4320ce795775e...,839332001,0.067780,1
31766403,2020-09-22,54379cac12fed6e91d95beac2879679be3c51bb96f1462...,865938003,0.025407,1
31766497,2020-09-22,54e8ebd39543b5a4d69c3e7d79977558d2a606e6540ba0...,928210002,0.067780,2
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [31]:
#checking duplicate row 
transactions_df.duplicated().sum()

2974905

In [37]:
#checking number of null columns
transactions_df.isna().sum()

t_dat               0
customer_id         0
article_id          0
price               0
sales_channel_id    0
dtype: int64

In [60]:
transactions_customer_df=pd.merge(transactions_df,customers_df,on="customer_id")

In [62]:
transactions_customer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31788324 entries, 0 to 31788323
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   t_dat                   datetime64[ns]
 1   customer_id             object
 2   article_id              int64
 3   price                   float64
 4   sales_channel_id        int64
 5   FN                      float64
 6   Active                  float64
 7   club_member_status      object
 8   fashion_news_frequency  object
 9   age                     float64
 10  postal_code             object
dtypes: datetime64[ns](1), float64(4), int64(2), object(4)
memory usage: 2.8+ GB

In [63]:
#checking number of null columns
transactions_customer_df.isna().sum()

t_dat                            0
customer_id                      0
article_id                       0
price                            0
sales_channel_id                 0
FN                        18209837
Active                    18412468
club_member_status           62165
fashion_news_frequency      141711
age                         140258
postal_code                      0
dtype: int64

In [64]:
transactions_article_df=pd.merge(transactions_df,article_df,on="article_id")

In [65]:
#checking number of null columns
transactions_article_df.isna().sum()

t_dat                                0
customer_id                          0
article_id                           0
price                                0
sales_channel_id                     0
product_code                         0
prod_name                            0
product_type_no                      0
product_type_name                    0
product_group_name                   0
graphical_appearance_no              0
graphical_appearance_name            0
colour_group_code                    0
colour_group_name                    0
perceived_colour_value_id            0
perceived_colour_value_name          0
perceived_colour_master_id           0
perceived_colour_master_name         0
department_no                        0
department_name                      0
index_code                           0
index_name                           0
index_group_no                       0
index_group_name                     0
section_no                           0
section_name                         0
garment_group_no                     0
garment_group_name                   0
detail_desc                     115027
dtype: int64

In [52]:
Sales_2019_file = "resources/H&M-Sales-2019.xlsx"
Sales_2019_df = pd.read_excel(Sales_2019_file, engine='openpyxl')
Sales_2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      150 non-null    object
 1   Order Date    150 non-null    datetime64[ns]
 2   Ship Mode     150 non-null    object
 3   Customer ID   150 non-null    object
 4   Country       150 non-null    object
 5   City          150 non-null    object
 6   State         150 non-null    object
 7   Zone          150 non-null    object
 8   Product ID    150 non-null    object
 9   Category      150 non-null    object
 10  Sub-Category  150 non-null    object
 11  Sales         150 non-null    float64
 12  Quantity      150 non-null    int64
 13  Discount      150 non-null    float64
 14  Profit        150 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(10)
memory usage: 17.7+ KB

In [51]:
Sales_2019_df.sort_values('Order Date')

,Order ID,Order Date,Ship Mode,Customer ID,Country,City,State,Zone,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
116,CA-2019-146262,2019-01-02,Standard Class,VW-21775,United States,Medina,Ohio,East,TEC-AC-10000109,Accessories,Belts,89.584,2,0.2,4.4792
115,CA-2019-146262,2019-01-02,Standard Class,VW-21775,United States,Medina,Ohio,East,TEC-MA-10000864,Accessories,Sunglasses,1188.000,9,0.7,-950.4000
112,CA-2019-146262,2019-01-02,Standard Class,VW-21775,United States,Medina,Ohio,East,OFF-LA-10004544,Clothing,Socks,23.680,2,0.2,8.8800
113,CA-2019-146262,2019-01-02,Standard Class,VW-21775,United States,Medina,Ohio,East,FUR-BO-10004695,Footwear,Flip flops,452.450,5,0.5,-244.3230
114,CA-2019-146262,2019-01-02,Standard Class,VW-21775,United States,Medina,Ohio,East,TEC-PH-10002844,Accessories,Bags,62.982,3,0.4,-14.6958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,CA-2019-169397,2019-12-24,First Class,JB-15925,United States,Dublin,Ohio,East,OFF-PA-10004000,Clothing,Formals,22.704,6,0.2,8.2302
119,CA-2019-169397,2019-12-24,First Class,JB-15925,United States,Dublin,Ohio,East,OFF-FA-10000585,Clothing,Nightwear,5.584,2,0.2,1.8148
10,CA-2019-146780,2019-12-25,Standard Class,CV-12805,United States,New York City,New York,East,FUR-FU-10001934,Footwear,Sneakers,41.960,2,0.0,10.9096
24,US-2019-152030,2019-12-26,Second Class,AD-10180,United States,Houston,Texas,Central,FUR-CH-10004063,Footwear,Sport shoes,600.558,3,0.3,-8.5794
61,CA-2019-119697,2019-12-28,Second Class,EM-13960,United States,Philadelphia,Pennsylvania,East,TEC-AC-10003657,Accessories,Belts,54.384,2,0.2,1.3596

In [39]:
#checking duplicate row 
Sales_2019_df.duplicated().sum()

0

In [40]:
#checking number of null columns
Sales_2019_df.isna().sum()

Order ID        0
Order Date      0
Ship Mode       0
Customer ID     0
Country         0
City            0
State           0
Zone            0
Product ID      0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [41]:
Sales_2018_file = "resources/HM-Sales-2018.xlsx"
Sales_2018_df = pd.read_excel(Sales_2018_file, engine='openpyxl')
Sales_2018_df.info()

,Order ID,Order Date,Ship Mode,Customer ID,Country,City,State,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,CA-2018-152156,2018-11-08,Second Class,CG-12520,United States,Henderson,Kentucky,South,FUR-BO-10001798,Footwear,Flip flops,261.9600,2,0.00,41.9136
1,CA-2018-152156,2018-11-08,Second Class,CG-12520,United States,Henderson,Kentucky,South,FUR-CH-10000454,Footwear,Sport shoes,731.9400,3,0.00,219.5820
2,CA-2018-138688,2018-06-12,Second Class,DV-13045,United States,Los Angeles,California,West,OFF-LA-10000240,Clothing,Socks,14.6200,2,0.00,6.8714
3,US-2018-108966,2018-10-11,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,South,FUR-TA-10000577,Footwear,Heels & Flats,957.5775,5,0.45,-383.0310
4,US-2018-108966,2018-10-11,Standard Class,SO-20335,United States,Fort Lauderdale,Florida,South,OFF-ST-10000760,Clothing,Tops,22.3680,2,0.20,2.5164

In [55]:
Sales_2018_df.sort_values('Order Date')

,Order ID,Order Date,Ship Mode,Customer ID,Country,City,State,Region,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Profit
26,CA-2018-121755,2018-01-16,Second Class,EH-13945,United States,Los Angeles,California,West,TEC-AC-10003027,Accessories,Belts,90.5700,3,0.00,11.7741
25,CA-2018-121755,2018-01-16,Second Class,EH-13945,United States,Los Angeles,California,West,OFF-BI-10001634,Clothing,Dresses,11.6480,2,0.20,4.2224
94,CA-2018-149587,2018-01-31,Second Class,KB-16315,United States,Minneapolis,Minnesota,Central,OFF-BI-10002852,Clothing,Dresses,32.9600,2,0.00,16.1504
93,CA-2018-149587,2018-01-31,Second Class,KB-16315,United States,Minneapolis,Minnesota,Central,FUR-FU-10003799,Footwear,Sneakers,53.3400,3,0.00,16.5354
92,CA-2018-149587,2018-01-31,Second Class,KB-16315,United States,Minneapolis,Minnesota,Central,OFF-PA-10003177,Clothing,Formals,12.9600,2,0.00,6.2208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,CA-2018-105816,2018-12-11,Standard Class,JM-15265,United States,New York City,New York,North,TEC-PH-10002447,Accessories,Bags,1029.9500,5,0.00,298.6855
38,CA-2018-117415,2018-12-27,Standard Class,SN-20710,United States,Houston,Texas,Central,FUR-BO-10002545,Footwear,Flip flops,532.3992,3,0.32,-46.9764
39,CA-2018-117415,2018-12-27,Standard Class,SN-20710,United States,Houston,Texas,Central,FUR-CH-10004218,Footwear,Sport shoes,212.0580,3,0.30,-15.1470
40,CA-2018-117415,2018-12-27,Standard Class,SN-20710,United States,Houston,Texas,Central,TEC-PH-10000486,Accessories,Bags,371.1680,4,0.20,41.7564
37,CA-2018-117415,2018-12-27,Standard Class,SN-20710,United States,Houston,Texas,Central,OFF-EN-10002986,Clothing,T-shirts,113.3280,9,0.20,35.4150

In [42]:
#checking duplicate row 
Sales_2018_df.duplicated().sum()

0

In [43]:
#checking number of null columns
Sales_2018_df.isna().sum()

Order ID        0
Order Date      0
Ship Mode       0
Customer ID     0
Country         0
City            0
State           0
Region          0
Product ID      0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [56]:
HM_stores_file = "resources/HM_all_stores.csv"
HM_stores_df = pd.read_csv(HM_stores_file)
HM_stores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4292 entries, 0 to 4291
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   storeCode       4292 non-null   object
 1   storeClass      4289 non-null   object
 2   name            4290 non-null   object
 3   phone           4140 non-null   object
 4   city            4292 non-null   object
 5   country         4292 non-null   object
 6   countryCode     4292 non-null   object
 7   longitude       4292 non-null   float64
 8   latitude        4292 non-null   float64
 9   timeZoneIndex   4289 non-null   float64
 10  Mon_open_hours  4258 non-null   object
 11  Tue_open_hours  4258 non-null   object
 12  Wed_open_hours  4258 non-null   object
 13  Thu_open_hours  4258 non-null   object
 14  Fri_open_hours  4258 non-null   object
 15  Sat_open_hours  4258 non-null   object
 16  Sun_open_hours  3148 non-null   object
 17  streetName1     4292 non-null   object
 18  streetName2     1827 non-null   object
 19  state           2431 non-null   object
 20  address_string  4292 non-null   object
dtypes: float64(3), object(18)
memory usage: 704.3+ KB

In [46]:
#checking number of null columns
HM_stores_df.isna().sum()

storeCode            0
storeClass           3
name                 2
phone              152
city                 0
country              0
countryCode          0
longitude            0
latitude             0
timeZoneIndex        3
Mon_open_hours      34
Tue_open_hours      34
Wed_open_hours      34
Thu_open_hours      34
Fri_open_hours      34
Sat_open_hours      34
Sun_open_hours    1144
streetName1          0
streetName2       2465
state             1861
address_string       0
dtype: int64

In [47]:
#checking duplicate row 
HM_stores_df.duplicated().sum()

2

In [48]:
HM_stores_df.duplicated()[HM_stores_df.duplicated() == True]

3720    True
3721    True
dtype: bool

In [58]:
HM_stores_df

,storeCode,storeClass,name,phone,city,country,countryCode,longitude,latitude,timeZoneIndex,...,Tue_open_hours,Wed_open_hours,Thu_open_hours,Fri_open_hours,Sat_open_hours,Sun_open_hours,streetName1,streetName2,state,address_string
0,AE0122,Red,Mirdiff city center,+971-42316646,Dubai,United Arab Emirates,AE,55.424840,25.226280,165.0,...,10:00-22:00,10:00-22:00,10:00-23:55,10:00-23:55,10:00-23:55,10:00-22:00,Mirdiff city center,Sheikh Mohammad Bin Zayed Road,Dubai,Mirdiff city center;Sheikh Mohammad Bin Zayed ...
1,AE0149,Flagship,Dubai Mall,+971-44190346,Dubai,United Arab Emirates,AE,55.278446,25.197506,165.0,...,10:00-23:00,10:00-23:00,10:00-23:55,10:00-23:55,10:00-23:00,10:00-23:00,Dubai Mall,Sheikh Zayed Road,Dubai,Dubai Mall;Sheikh Zayed Road;Dubai;Dubai;Dubai
2,AE0209,Blue,Al Markaziyah,+971-26120870,Abu Dhabi,United Arab Emirates,AE,54.357462,24.487245,165.0,...,10:00-22:00,10:00-22:00,10:00-23:00,10:00-23:00,10:00-22:00,10:00-22:00,Al Markaziyah,World Trade Center Mall,Abu Dhabi,Al Markaziyah;World Trade Center Mall;123;Abu ...
3,AE0223,Blue,Abu Dhabi-Dubai Rd - Abu Dhabi,+971-26120851,Abu Dhabi,United Arab Emirates,AE,54.671499,24.523875,165.0,...,10:00-22:00,10:00-22:00,10:00-23:55,10:00-23:55,10:00-20:00,10:00-22:00,Abu Dhabi-Dubai Rd - Abu Dhabi,Al Bahia - Al Shahama,Abu Dhabi,Abu Dhabi-Dubai Rd - Abu Dhabi;Al Bahia - Al S...
4,AE0273,Flagship,Yas Mall,+971-24926530,Abu Dhabi,United Arab Emirates,AE,54.609720,24.488684,165.0,...,10:00-22:00,10:00-22:00,10:00-23:55,10:00-23:55,10:00-22:00,10:00-22:00,Yas Mall,NaN,Abu Dhabi,Yas Mall;;x;Abu Dhabi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4287,ZA0028,Flagship,Canal Walk Shopping Centre,+27-860690707,Cape Town,South Africa,ZA,18.511386,-33.893271,140.0,...,09:00-21:00,09:00-21:00,09:00-21:00,09:00-21:00,09:00-21:00,09:00-21:00,Shop 205,"Century Boulevard, Century City, Cape Town",Western Cape,"Shop 205;Century Boulevard, Century City, Cape..."
4288,ZA0029,Blue,Loch Logan Waterfront,+27-860690707,Bloemfontein,South Africa,ZA,26.210716,-29.114604,140.0,...,09:00-18:00,09:00-18:00,09:00-18:00,09:00-18:00,08:30-17:00,09:00-15:00,Cnr henry Street and First Avenue,Westdene,Free State,Cnr henry Street and First Avenue;Westdene;930...
4289,ZA0030,Red,Cresta Shopping Centre,+27-860690707,Johannesburg,South Africa,ZA,27.983647,-26.127327,140.0,...,09:00-18:00,09:00-18:00,09:00-18:00,09:00-18:00,09:00-18:00,09:00-17:00,Cnr Beyers Naude Drive and Weltevreden Road,"Cresta Ext4, Randburg",NaN,Cnr Beyers Naude Drive and Weltevreden Road;Cr...
4290,ZA0032,Blue,Eikestad Mall,+27-860690707,Cape Town,South Africa,ZA,18.859995,-33.934854,140.0,...,09:00-18:00,09:00-18:00,09:00-18:00,09:00-18:00,09:00-17:00,09:00-14:00,43 Andringa St,NaN,Western Cape,43 Andringa St;;7600;Stellenbosch Central;West...
4291,ZA0040,Blue,Westgate Shopping Centre,+27-860690707,Johannesburg,South Africa,ZA,27.861970,-26.137210,140.0,...,09:00-18:00,09:00-18:00,09:00-18:00,09:00-18:00,09:00-17:00,09:00-16:00,"Shop no: OOB-1, 120 Ontdekkers Road",Roodepoort,Gauteng,"Shop no: OOB-1, 120 Ontdekkers Road;Roodepoort..."

In [59]:
transactions_df

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2