In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine 
import missingno as msno
from zipfile import ZipFile
import re
from bs4 import BeautifulSoup
import requests

In [67]:
def API_df_maker(url,headers):
    resp_woman = requests.get(url,headers=headers).json()
    result_length=len(resp_woman['products'])
    articleCode=[resp_woman["products"][i]["articleCode"] for i in range(result_length)]
    title=[resp_woman["products"][i]["title"] for i in range(result_length)]
    category=[resp_woman["products"][i]["category"] for i in range(result_length)]
    price=[resp_woman['products'][i]['price'] for i in range(result_length)]
    
    list_dict={"articleCode":articleCode,
               "title":title,
               "category":category,
               "price":price,
               }                      
                                    
                                    
    list_df=pd.DataFrame(list_dict)
    #list_df.to_csv("Resources/women_article.csv",index=False)
    return list_df

In [68]:
headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) AppleWebKit/601.3.9 (KHTML, like Gecko) Version/9.0.2 Safari/601.3.9'}
url='https://www2.hm.com/en_us/women/products/view-all/_jcr_content/main/productlisting_30ab.display.json?sort=stock&image-size=small&image=model&offset=36&page-size=5258'
women_article_df=API_df_maker(url,headers)

In [80]:
women_article_df

,articleCode,title,category,price($)
0,0963087001,Wide-leg Twill Pants,ladies_trousers_highwaisted,17.99
1,0963087016,Wide-leg Twill Pants,ladies_trousers_highwaisted,17.99
2,0939703036,V-neck Blouse,ladies_shirtsblouses_blouses,17.99
3,0935727027,Single-breasted Jacket,ladies_blazers,34.99
4,0895610022,Dress Pants,ladies_trousers_highwaisted,34.99
...,...,...,...,...
5253,1024128006,Smartphone Case Sticker,ladies_accessories,4.99
5254,0274160008,Bronzer,ladies_beauty_face_bronzerblusher,9.99
5255,0759571009,Eyeshadow Palette,ladies_beauty_eyes_eyeshadow,9.99
5256,0986220001,Face Roller and Cleansing Pad Kit,ladies_beauty_brushestools_spongesapplicators,14.99
5257,0839421031,Eyeshadow,ladies_beauty_eyes_eyeshadow,6.99

In [75]:
def price_maker(x):
    return float(x.split()[-1])

In [76]:
women_article_df['price($)']=women_article_df["price"].apply(price_maker)

In [79]:
women_article_df.drop('price',axis=1, inplace=True)
women_article_df

,articleCode,title,category,price($)
0,0963087001,Wide-leg Twill Pants,ladies_trousers_highwaisted,17.99
1,0963087016,Wide-leg Twill Pants,ladies_trousers_highwaisted,17.99
2,0939703036,V-neck Blouse,ladies_shirtsblouses_blouses,17.99
3,0935727027,Single-breasted Jacket,ladies_blazers,34.99
4,0895610022,Dress Pants,ladies_trousers_highwaisted,34.99
...,...,...,...,...
5253,1024128006,Smartphone Case Sticker,ladies_accessories,4.99
5254,0274160008,Bronzer,ladies_beauty_face_bronzerblusher,9.99
5255,0759571009,Eyeshadow Palette,ladies_beauty_eyes_eyeshadow,9.99
5256,0986220001,Face Roller and Cleansing Pad Kit,ladies_beauty_brushestools_spongesapplicators,14.99
5257,0839421031,Eyeshadow,ladies_beauty_eyes_eyeshadow,6.99

In [89]:
women_article_df.to_csv("Resources/women_article.csv",index=False)

In [9]:
pwd

'D:\\my_repo\\project-2'